:root {
    // Colors
    --color-big-stone: hsl(219, 43%, 16%);
    --color-fiord: hsl(218, 20%, 36%);
    --color-dawn-pink: hsl(30, 33%, 93%);
    --color-spring-wood: hsl(30, 29%, 97%);
    --color-heliotrope: hsl(264, 100%, 69%);
    --color-medium-purple: hsl(292, 76%, 54%);
    --color-texas-rose: hsl(31, 100%, 65%);

    // Typography
    --fs-350: 0.875rem; // 14px
    --fs-400: 0.9375rem; // 15px
    --fs-450: 1rem; // 16px
    --fs-500: 1.125rem; // 18px
    --fs-550: 1.25rem; // 20px
    --fs-600: 2.375rem; // 38px
    --fs-650: 2.5rem; // 40px
    --fs-700: 3rem; // 48px
    --fs-750: 3.5rem; // 56px
    --fs-900: 4.5rem; // 72px

    // Spacing
    --main-indent: 1rem;
    --max-container-width: 90rem;
  }